@model IEnumerable<AccountingCycle.DataBaseContext.GeneralJournalEntries>
@using AccountingCycle.DataBaseContext
@using Microsoft.EntityFrameworkCore
@inject DbContextOptions<AccountingCycleContext> _context

@{
    ViewData["Title"] = "Trial Balance";

    var dbContext = new AccountingCycleContext(_context);
    var FinancialElementType = await dbContext.FinancialElementType.ToListAsync();
    var GeneralJournalEntries = await dbContext.GeneralJournalEntries.ToListAsync();
    var JournalEntries = await dbContext.JournalEntries.ToListAsync();
    var Transactiontype = await dbContext.Transactiontype.ToListAsync();

    var CurrentUserGeneralJournalEntries = GeneralJournalEntries.Where(x => x.UserId == Int32.Parse(User.FindFirst("UserId").Value));


}

<div class="text-center">
    <p class="display-4">Trial Balance</p>

</div>

<form asp-action="TrialBalance" asp-controller="Dashboard">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="row g-3">
                <div class="col-5">
                    <div class="form-group">
                        <label for="date" class="form-label">Select Date</label>
                        <input name="date" type="date" id="date" class="form-control">
                    </div>

                    <input type="submit" name="btnSubmit" value="Generate" id="ContentPlaceHolder_btnSubmit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model != null && Model.Count() > 0 && Model.Any())
{
    <div class="card">
        <div class="card-body">
            <h5 id="ContentPlaceHolder_companyName" class="card-title text-center">@User.FindFirst("UserName").Value and Co.</h5>
            <h5 class="card-title text-center">Trial Balance</h5>
            <h5 id="ContentPlaceHolder_generatedDate" class="card-title text-center">For the date @Model.FirstOrDefault().TransactionDate.ToString("MMMM dd, yyyy")</h5>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Account Title</th>
                        <th class="text-right" scope="col">Debit $</th>
                        <th class="text-right" scope="col">Credit $</th>
                    </tr>
                </thead>

                <tbody>

                    @{ 
                        int debitSum = 0;
                        int creditSum = 0;
                    }

                    @foreach (var generalJournalEntry in Model)
                    {
                        foreach (var entry in JournalEntries)
                        {
                            @if (entry.JournalId == generalJournalEntry.Id)
                            {
                                <tr>

                                    <td scope="row">@entry.AccountTitle</td>

                                    @if (entry.TransactionTypeId == 1)
                                    {
                                        debitSum += @entry.Amount;
                                        <td class="text-right" scope="row">@entry.Amount</td>
                                        <td scope="row"></td>
                                    }
                                    else if (entry.TransactionTypeId == 2)
                                    {
                                        creditSum += @entry.Amount;
                                        <td scope="row"></td>
                                        <td class="text-right" scope="row">@entry.Amount</td>
                                    }
                                </tr>
                            }
                        }
                    }

                    <tr>
                        <td scope="row"></td>
                        <td class="text-right" scope="row"><strong>@debitSum</strong></td>
                        <td class="text-right" scope="row"><strong>@creditSum</strong></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
}
else
{
    <h4 class="display-4 text-danger text-center">No Transaction Found</h4>
}

