@model AccountingCycle.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4 class="display-4 text-center modal-title">Account Registration</h4>
        <hr />
        <div class="container">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label" })

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>



                <div class="col-md-6">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-5"></div>
                <div class="col-md-2 text-center my-3">
                    <input type="submit" value="Register" class="btn btn-success" style="width: 120px;" />
                </div>
                <div class="col-md-5"></div>

                <div class="col-md-12 text-center">
                    @Html.ActionLink("Already have an Account", "Login", "User")
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <script>
        alert("@ViewBag.Message");
    </script>
}